<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/view/css/contacto.css">
    <title>Erauntsi</title>
</head>

<body>

    <header>
        <nav>
          <div class="logo">
            <h1><a href="/index.html">Erauntsi</a></h1>
          </div>
          <ul>
            <li><a href="/index.html">Inicio</a></li>
            <li><a href="/view/paginas/clases.html">Clases</a></li>
            <li><a href="/view/paginas/cursos.html">Reservas</a></li>
            <li><a href="/view/paginas/nosotros.html">Acerca de nosotros</a></li>
            <li><a href="/view/paginas/contacto.html">Contacto</a></li>
            <li><a href="/view/paginas/login.html">Admin</a></li>
          </ul>
        </nav>
      </header>




    <div class="contact_form">

        <div class="formulario">
            <h1>Formulario de contacto</h1>
            <h3>Escríbenos y en breve los pondremos en contacto contigo</h3>


            <form action="submeter-formulario.php" method="post">


                <p>
                    <label for="nombre" class="colocar_nombre">Nombre
                        <span class="obligatorio">*</span>
                    </label>
                    <input type="text" name="introducir_nombre" id="nombre" required="obligatorio"
                        placeholder="Escribe tu nombre">
                </p>

                <p>
                    <label for="email" class="colocar_email">Email
                        <span class="obligatorio">*</span>
                    </label>
                    <input type="email" name="introducir_email" id="email" required="obligatorio"
                        placeholder="Escribe tu Email">
                </p>

                <p>
                    <label for="telefone" class="colocar_telefono">Teléfono
                    </label>
                    <input type="tel" name="introducir_telefono" id="telefono" placeholder="Escribe tu teléfono">
                </p>

                <p>
                    <label for="asunto" class="colocar_asunto">Asunto
                        <span class="obligatorio">*</span>
                    </label>
                    <input type="text" name="introducir_asunto" id="assunto" required="obligatorio"
                        placeholder="Escribe un asunto">
                </p>

                <p>
                    <label for="mensaje" class="colocar_mensaje">Mensaje
                        <span class="obligatorio">*</span>
                    </label>
                    <textarea name="introducir_mensaje" class="texto_mensaje" id="mensaje" required="obligatorio"
                        placeholder="Deja aquí tu comentario..."></textarea>
                </p>

                <button type="submit" name="enviar_formulario" id="enviar">
                    <p>Enviar</p>
                </button>

                <p class="aviso">
                    <span class="obligatorio"> * </span>los campos son obligatorios.
                </p>

            </form>
        </div>
    </div>





    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-3">
                    <h3>Sobre nosotros</h3>
                    <p>Somos una pequeña escuela de surf que surgió en 1992. Contamos con monitores titulados,
                        totalmente profesionales. Es una escuela trilingüe, ofrecemos cursos en euskara, español e
                        ingles. Monitores titulados y la mayoría de ellos trilingües. Profesionalidad y experiencia
                        dadas de la mano.</p>
                </div>
                <div class="col-md-4 col-sm-3">
                    <h3>Contáctanos</h3>
                    <ul>
                        <li><i class="fa fa-map-marker"></i>Barrio La Arena Nº 35, Zierbena</li>
                        <li><i class="fa fa-phone"></i> +34 658755472 (Floren)</li>
                        <li><i class="fa fa-envelope"></i> erauntsisurfeskola@gmail.com</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-3">
                    <h3>Síguenos</h3>
                    <ul class="social-media">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="credits">
            <p>&copy; 2023 Surf. Todos los derechos reservados.</p>
        </div>
    </footer>






</body>

</html>