<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas | Escuela de Surf</title>
    <link rel="stylesheet" href="/view/css/cursos.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <h1><a href="/index.html">Erauntzi</a></h1>
            </div>
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/view/paginas/clases.html">Clases</a></li>
                <li><a href="/view/paginas/cursos.html">Reservas</a></li>
                <li><a href="/view/paginas/nosotros.html">Acerca de nosotros</a></li>
                <li><a href="/view/paginas/contacto.html">Contacto</a></li>
                <li><a href="/view/paginas/login.html">Admin</a></li>
            </ul>
        </nav>
    </header>

    <section class="booking">
        <div class="container">
            <div>
                <h1>Reserva tu clase</h1>
                <p>Clases: Mayo ,Junio, Julio, Septiembre</p>
                <!-- <div id="tabla"></div> -->
            </div>

            <!--  -->

            <form action="/controller/prueba.php" method="POST">
                <div class="form-group">
                    <label for="name">Nombre:</label>
                    <input type="text" id="name" name="nombre" required>
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido:</label>
                    <input type="text" id="apellido" name="apellido" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="phone">Teléfono:</label>
                    <input type="tel" id="phone" name="telefono" required>
                </div>
                <div class="form-group">
                    <label for="dia">dia:</label>
                    <input type="text" id="dia" name="dia" required>
                </div>
                <div class="month-selector form-group">
                    <label for="month">Selecciona un mes:</label>
                    <select id="month">
                        <option value="" selected disabled>SELECIONA UN MES</option>
                        <option value="1">Mayo</option>
                        <option value="2">Junio</option>
                        <option value="3">Julio</option>
                        <option value="4">Septiembre</option>
                    </select>
                </div>

                <table id="mayo" class="form-group" style="display: none;">
                    <thead>
                        <tr>
                            <th colspan="7">Mayo 2023</th>
                        </tr>
                        <tr>
                            <th>L</th>
                            <th>M</th>
                            <th>M</th>
                            <th>J</th>
                            <th>V</th>
                            <th>S</th>
                            <th>D</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-comentario="2023-0 -">1
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">2
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">3
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">4
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">5
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">6
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">7
                                <div class="comentario"></div>
                            </td>
                            <!-- Continuar con el resto de los días del mes -->
                        </tr>
                        <!-- Continuar con las demás filas de la tabla -->
                        <tr>
                            <td data-comentario="2023-0 -">8
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">9
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">10
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">11
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">12
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">13
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">14
                                <div class="comentario"></div>
                            </td>
                            <!-- Continuar con el resto de los días del mes -->
                        </tr>
                        <tr>
                            <td data-comentario="2023-0 -">15
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">16
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">17
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">18
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">19
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">20
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">21
                                <div class="comentario"></div>
                            </td>
                            <!-- Continuar con el resto de los días del mes -->
                        </tr>
                        <tr>
                            <td data-comentario="2023-0 -">22
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">23
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">24
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">25
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">26
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">27
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">28
                                <div class="comentario"></div>
                            </td>
                            <!-- Continuar con el resto de los días del mes -->
                        </tr>
                        <tr>
                            <td data-comentario="2023-0 -">29
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">30
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">31
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -"></td>
                            <td data-comentario="2023-0 -"></td>
                            <td data-comentario="2023-0 -"></td>
                            <td data-comentario="2023-0 -"></td>
                            <!-- Continuar con el resto de los días del mes -->
                        </tr>
                    </tbody>
                </table>


                <table id="junio" class="form-group" style="display: none;">
                    <thead>
                        <tr>
                            <th colspan="7">Junio 2023</th>
                        </tr>
                        <tr>
                            <th>L</th>
                            <th>M</th>
                            <th>M</th>
                            <th>J</th>
                            <th>V</th>
                            <th>S</th>
                            <th>D</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td data-comentario="2023-0 -">1
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">2
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">3
                                <div class="comentario"></div>
                            </td>
                            <!-- Continuar con el resto de los días del mes -->
                        </tr>
                        <!-- Continuar con las demás filas de la tabla -->
                        <tr>
                            <td data-comentario="2023-0 -">4
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">5
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">6
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">7
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">8
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">9
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">10
                                <div class="comentario"></div>
                            </td>
                            <!-- Continuar con el resto de los días del mes -->
                        </tr>
                        <tr>
                            <td data-comentario="2023-0 -">11
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">12
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">13
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">14
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">15
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">16
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">17
                                <div class="comentario"></div>
                            </td>
                            <!-- Continuar con el resto de los días del mes -->
                        </tr>
                        <tr>
                            <td data-comentario="2023-0 -">18
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">19
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">20
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">21
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">22
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">23
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">24
                                <div class="comentario"></div>
                            </td>
                            <!-- Continuar con el resto de los días del mes -->
                        </tr>
                        <tr>
                            <td data-comentario="2023-0 -">25
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">26
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">27
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">28
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">29
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">30
                                <div class="comentario"></div>
                            </td>
                            <td></td>
                            <!-- Continuar con el resto de los días del mes -->
                        </tr>
                    </tbody>
                </table>

                <table id="julio" class="form-group" style="display: none;">
                    <thead>
                        <tr>
                            <th colspan="7">Julio 2023</th>
                        </tr>
                        <tr>
                            <th>L</th>
                            <th>M</th>
                            <th>M</th>
                            <th>J</th>
                            <th>V</th>
                            <th>S</th>
                            <th>D</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td data-comentario="2023-0 -">1
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">2
                                <div class="comentario"></div>
                            </td>
                            <!-- Continuar con el resto de los días del mes -->
                        </tr>
                        <!-- Continuar con las demás filas de la tabla -->
                        <tr>
                            <td data-comentario="2023-0 -">3
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">4
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">5
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">6
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">7
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">8
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">9
                                <div class="comentario"></div>
                            </td>
                            <!-- Continuar con el resto de los días del mes -->
                        </tr>
                        <tr>
                            <td data-comentario="2023-0 -">10
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">11
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">12
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">13
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">14
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">15
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">16
                                <div class="comentario"></div>
                            </td>
                            <!-- Continuar con el resto de los días del mes -->
                        </tr>
                        <tr>
                            <td data-comentario="2023-0 -">17
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">18
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">19
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">20
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">21
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">22
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">23
                                <div class="comentario"></div>
                            </td>
                            <!-- Continuar con el resto de los días del mes -->
                        </tr>
                        <tr>
                            <td data-comentario="2023-0 -">24
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">25
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">26
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">27</td>
                            <td data-comentario="2023-0 -">28</td>
                            <td data-comentario="2023-0 -">29</td>
                            <td data-comentario="2023-0 -">30</td>
                            <!-- Continuar con el resto de los días del mes -->
                        </tr>
                        <tr>
                            <td data-comentario="2023-0 -">31
                                <div class="comentario"></div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <!-- Continuar con el resto de los días del mes -->
                        </tr>
                    </tbody>
                </table>

                <table id="septiembre" class="form-group" style="display: none;">
                    <thead>
                        <tr>
                            <th colspan="7">Septiembre 2023</th>
                        </tr>
                        <tr>
                            <th>L</th>
                            <th>M</th>
                            <th>M</th>
                            <th>J</th>
                            <th>V</th>
                            <th>S</th>
                            <th>D</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td data-comentario="2023-0 -">1
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">2
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">3
                                <div class="comentario"></div>
                            </td>
                            <!-- Continuar con el resto de los días del mes -->
                        </tr>
                        <!-- Continuar con las demás filas de la tabla -->
                        <tr>
                            <td data-comentario="2023-0 -">4
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">5
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">6
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">7
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">8
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">9
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">10
                                <div class="comentario"></div>
                            </td>
                            <!-- Continuar con el resto de los días del mes -->
                        </tr>
                        <tr>
                            <td data-comentario="2023-0 -">11
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">12
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">13
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">14
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">15
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">16
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">17
                                <div class="comentario"></div>
                            </td>
                            <!-- Continuar con el resto de los días del mes -->
                        </tr>
                        <tr>
                            <td data-comentario="2023-0 -">18
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">19
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">20
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">21
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">22
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">23
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">24
                                <div class="comentario"></div>
                            </td>
                            <!-- Continuar con el resto de los días del mes -->
                        </tr>
                        <tr>
                            <td data-comentario="2023-0 -">25
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">26
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">27
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">28
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">29
                                <div class="comentario"></div>
                            </td>
                            <td data-comentario="2023-0 -">30
                                <div class="comentario"></div>
                            </td>
                            <td></td>
                            <!-- Continuar con el resto de los días del mes -->
                        </tr>
                    </tbody>
                </table>

                <button type="submit" id="boton" class="btn">Reservar</button>
            </form>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-3">
                    <h3>Sobre nosotros</h3>
                    <p>Somos una pequeña escuela de surf que surgió en 1992. Contamos con monitores titulados,
                        totalmente profesionales. Es una escuela trilingüe, ofrecemos cursos en euskara, español e
                        ingles. Monitores titulados y la mayoría de ellos trilingües. Profesionalidad y experiencia
                        dadas de la mano.</p>
                </div>
                <div class="col-md-4 col-sm-3">
                    <h3>Contáctanos</h3>
                    <ul>
                        <li><i class="fa fa-map-marker"></i>Barrio La Arena Nº 35, Zierbena</li>
                        <li><i class="fa fa-phone"></i> +34 658755472 (Floren)</li>
                        <li><i class="fa fa-envelope"></i> erauntsisurfeskola@gmail.com</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-3">
                    <h3>Síguenos</h3>
                    <ul class="social-media">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="credits">
            <p>&copy; 2023 Surf. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="/view/js/cursos.js"></script>

</body>

</html>