<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/view/css/cursos.css">
    <title>Document</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light p-1" id="navbar">
        <div class="container-fluid">

            <a id="navbar-logo" href="#">
                <img src="" alt="">
            </a>

            <a id="log" href="">
                <img src="" alt="" style="width: 30px;">
            </a>

            <li class="navbar-toggler" id="botonnavbar" type="li" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </li>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index.html">Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="cursos.html">Cursos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="nosotros.html">Sobre Nosotros</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="ubicacion.html">Ubicacion</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="contacto.html">Contacto</a>
                    </li>
                </ul>

                <form class="d-flex">
                    <a href="/view/paginas/login.html">Hola</a>
                </form>

            </div>

        </div>
    </nav> -->

<!-- <form action="/controller/prueba.php" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" required>
        <br>
        <label for="apellido">Apellido:</label>
        <input type="text" name="apellido" required>
        <br>
        <label for="telefono">Teléfono:</label>
        <input type="tel" name="telefono" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <br>
        <label for="dia1">Día 1:</label>
        <input type="date" name="dia1" required>
        <br>
        <label for="dia2">Día 2:</label>
        <input type="date" name="dia2" required>
        <br>
        <label for="dia3">Día 3:</label>
        <input type="date" name="dia3" required>
        <br>
        <label for="dia4">Día 4:</label>
        <input type="date" name="dia4" required>
        <br>
        <button type="submit">Guardar</button>
    </form> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas | Escuela de Surf</title>
    <link rel="stylesheet" href="/view/css/cursos.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <h1><a href="/index.html">Erauntzi</a></h1>
            </div>
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/view/paginas/clases.html">Clases</a></li>
                <li><a href="/view/paginas/cursos.html">Reservas</a></li>
                <li><a href="/view/paginas/nosotros.html">Acerca de nosotros</a></li>
                <li><a href="/view/paginas/contacto.html">Contacto</a></li>
                <li><a href="/view/paginas/login.html">Admin</a></li>
            </ul>
        </nav>
    </header>

    <section class="booking">
        <div class="container">
            <div>
                <h1>Reserva tu clase</h1>
                <p>Clases: Mayo ,Junio, Julio, Septiembre</p>
                <!-- <div id="tabla"></div> -->
            </div>

            <form action="/controller/prueba.php" method="POST">
                <div class="form-group">
                    <label for="name">Nombre:</label>
                    <input type="text" id="name" name="nombre" required>
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido:</label>
                    <input type="text" name="apellido" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="phone">Teléfono:</label>
                    <input type="tel" id="phone" name="telefono" required>
                </div>
                <div class="form-group">
                    <label for="dia1">Día 1:</label>
                    <input type="date" id="date1" name="dia1" required>
                </div>
                <div class="form-group">
                    <label for="dia1">Día 2:</label>
                    <input type="date" id="date2" name="dia2" required>
                </div>
                <div class="form-group">
                    <label for="dia1">Día 3:</label>
                    <input type="date" id="date3" name="dia3" required>
                </div>
                <div class="form-group">
                    <label for="dia1">Día 4:</label>
                    <input type="date" id="date4" name="dia4" required>
                </div>
                <button type="submit" class="btn">Reservar</button>
            </form>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-3">
                    <h3>Sobre nosotros</h3>
                    <p>Somos una pequeña escuela de surf que surgió en 1992. Contamos con monitores titulados,
                        totalmente profesionales. Es una escuela trilingüe, ofrecemos cursos en euskara, español e
                        ingles. Monitores titulados y la mayoría de ellos trilingües. Profesionalidad y experiencia
                        dadas de la mano.</p>
                </div>
                <div class="col-md-4 col-sm-3">
                    <h3>Contáctanos</h3>
                    <ul>
                        <li><i class="fa fa-map-marker"></i>Barrio La Arena Nº 35, Zierbena</li>
                        <li><i class="fa fa-phone"></i> +34 658755472 (Floren)</li>
                        <li><i class="fa fa-envelope"></i> erauntsisurfeskola@gmail.com</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-3">
                    <h3>Síguenos</h3>
                    <ul class="social-media">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="credits">
            <p>&copy; 2023 Surf. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="/view/js/cursos.js"></script>

</body>

</html>