<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Acerca de nosotros | Escuela de Surf</title>
    <link rel="stylesheet" href="/view/css/nosotros.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <h1><a href="/index.html">Erauntsi</a></h1>
            </div>
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/view/paginas/clases.html">Clases</a></li>
                <li><a href="/view/paginas/cursos.html">Reservas</a></li>
                <li><a href="/view/paginas/nosotros.html">Acerca de nosotros</a></li>
                <li><a href="/view/paginas/contacto.html">Contacto</a></li>
                <li><a href="/view/paginas/login.html">Admin</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <h1>Acerca de nosotros</h1>
    </section>

    <section class="about">
        <div class="container2">
            <div class="somos">
                <h2>QUIENES SOMOS</h2>
                <p>Somos una pequeña escuela de surf que surgió en 1992. Contamos con monitores titulados, totalmente
                    profesionales. Es una escuela trilingüe, ofrecemos cursos en euskara, español e ingles. Monitores
                    titulados y la mayoría de ellos trilingües. Profesionalidad y experiencia dadas de la mano. Vete
                    conociendo a nuestros monitores:</p>
            </div>
            <div class="instructores">
                <h2>SOBRE NOSOTROS</h2>
                <p>La escuela de surf Erauntsi fue fundada en la década de los noventa por surfistas locales de la playa
                    de
                    La Arena. Actualmente la escuela sigue en pie y ofrece cursos de surf para todos los públicos, desde
                    edades tempranas a adultos. Además Erauntsi Surf Eskola es la única escuela del estado español que
                    ofrece cursos a personas discapacitadas. Los socios de esta escuela trabajamos duro para mantenerla
                    en
                    pie.</p>
            </div>
            <div class="ubicacion">
                <h2>NUESTRA UBICACION</h2>
                <p>Estamos ubicados en la hermosa playa de La arena. Esta playa es conocida
                    por sus olas perfectas para el surf y su ambiente relajado.</p>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3573.6073880960917!2d-3.113388118830144!3d43.34746734565819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4ef616c955550f%3A0xc32bd8556bf9c805!2sErauntsi%20Surf%20Eskola!5e1!3m2!1ses!2ses!4v1682852887108!5m2!1ses!2ses"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-3">
                    <h3>Sobre nosotros</h3>
                    <p>Somos una pequeña escuela de surf que surgió en 1992. Contamos con monitores titulados,
                        totalmente profesionales. Es una escuela trilingüe, ofrecemos cursos en euskara, español e
                        ingles. Monitores titulados y la mayoría de ellos trilingües. Profesionalidad y experiencia
                        dadas de la mano.</p>
                </div>
                <div class="col-md-4 col-sm-3">
                    <h3>Contáctanos</h3>
                    <ul>
                        <li><i class="fa fa-map-marker"></i><a class="link" href="https://goo.gl/maps/PpDf3ygjykNPTkZH9"
                                target="_blank">Erauntsi surf eskola, Barrio la Arena Nº 35</a></li>
                        <li><i class="fa fa-phone"></i> +34 658755472 (Floren)</li>
                        <li><i class="fa fa-envelope"></i> erauntsisurfeskola@gmail.com</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-3">
                    <h3>Síguenos</h3>
                    <ul class="social-media">
                        <li><a href="#"><img src="/view/img/instagram.png" alt=""></a>erauntsi_surfeskola</li>
                        <li><a href="#"><img src="/view/img/instagram.png" alt=""></a>erauntsi</li>
                        <li><a href="#"><img src="/view/img/instagram.png" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="credits">
            <p>&copy; 2023 Surf. Todos los derechos reservados.</p>
        </div>
    </footer>

</body>

</html>