<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Escuchar click de botones</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
		<button value="1" class="botones">Soy un botón</button>
		<br><br>
		<button value="2" class="botones">Otro botón</button>
		<br><br>
		<button value="3" class="botones">Botón 3</button>
		<br><br>
		<button value="4" class="botones">Botón 4</button>
		<br><br>
		<button value="5" class="botones">Botón 5</button>
		<br><br>
		<button value="6" class="botones">Último botón</button>
		<br><br>
    <script src="/view/js/pruebas.js"></script>
  </body>
</html>